<html>
<head>
    <title>Update Kind</title>
</head>
<body>
    <h1>Update Kind</h1>
    <form action="/kind/update/{{ kind['id'] }}" method="POST">
        <p>Kind Name: <input name="Kind_name" value="{{ kind['Kind_name'] }}" required /></p>
        <p>Food: <input name="Food" value="{{ kind['Food'] }}" required /></p>
        <p>Noise: <input name="Noise" value="{{ kind['Noise'] }}" required /></p>
        <button type="submit">Update</button>
    </form>
    <br>
    <a href="/kind/list">Back to Kind List</a>
</body>
</html>